:root {
    --primary-color: #124658;
    --secondary-color: #06171E;
    --white: #ffff;
    --gray: #627B84;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

body {
    background-color: var(--secondary-color);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    color: #ffff;
}

header {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    justify-content: center;
    padding: 30px;
}

main {
    width: 100%;
}

section {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.bg-blue {
    background: #09212A;
}

.padding_xl {
    padding: 4rem 0 4rem 0;
}

.padding-y__l {
    padding: 2rem 0 2rem 0;
}

.border_xl {
    border-radius: 1.4rem;
}

.bs_container__xxl {
    max-width: 1920px;
    margin: 0 auto;
    padding-right: 16px;
    padding-left: 16px;
}

.bs_container {
    max-width: 1440px;
    margin: 0 auto;
    padding-right: 16px;
    padding-left: 16px;
}

.bs_container>h2 {
    text-align: center;
    margin-bottom: 40px;
}

.title {
    font-size: 2.5rem;
    text-align: center;
    color: var(--white);
    margin-bottom: 50px;
}

.header {
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.footer_inner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.footer_inner > h2 {
    text-align: center;
    font-size: 16px;
}