:root {
    --primary-color: #124658;
    --secondary-color: #06171E;
    --white: #ffff;
    --gray: #627B84;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

body {
    background-color: var(--secondary-color);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

header {
    padding: 20px;
}

main {
    width: 100%;
}

section {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.bg-blue {
    background: #09212A;
}

.bs_container__xxl {
    max-width: 1920px;
    margin: 0 auto;
    padding-right: 16px;
    padding-left: 16px;
}

.bs_container {
    max-width: 1440px;
    margin: 0 auto;
    padding-right: 16px;
    padding-left: 16px;
}

.title {
    font-size: 2.5rem;
    text-align: center;
    color: var(--white);
    margin-bottom: 50px;
}
